* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    min-width:300px;
    max-height:10px;
}


.navbar__container h1 {
    margin-left: 20%;
}

#navbar__logo {
    padding-top: 15px;
    background: #ff8177;
    background-image: linear-gradient(to right, #244352 25%, #00e1ff 80%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: default;
    text-decoration: none;
    font-size: 40px;
}


@media screen and (max-width: 960px){
    
 .navbar__button {
     margin-top: 40px;
     margin-left: 25%;
     padding-bottom: 2rem;
     position: relative;
     text-align: center;
     /* margin: 5px auto; */
     height: 50%;
     width: 50%;
 }
 
 .navbar__button a {
     font-size: 25px;
     font-weight: 5;
 }

}

/* Hero Section */

.main {
    background-color: #141414;
    font-family: 'Kumbh Sans', sans-serif;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 0;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    text-align: center;
    font-size: 5rem;
    background-color: #77c2cc;
    /* background-image: linear-gradient(to right, #3F3D56 25%, #40a6b39d 80%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 3rem;
    background-color: #00e1ff;
    /* background-image: linear-gradient(to right, #3F3D56 0%, #40a6b39d 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    /* padding-top: 1rem; */
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.main__button {
    font-size: 0.1rem;
    background-image: #141414;
    border: none;
    border-radius: 4px;
    color: #141414;
    cursor: pointer;
    transition: all 0.35s;
    outline: none;
    background: #40a6b39d;
}

.main__button a {
    z-index: 2;
    color: #fff;;
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 0.5rem;
    font-weight: 450;
}

.main__button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3F3D56;
    transition: all 0.35s;
    border-radius: 4px;
    
}

.main__button:hover {
    color: #0026ff;
    /* THIS IS LINKED SOMEHOW */
    transform: translateY(-5px);
    transition: transform 250ms;
}

.main__button:hover:after {
    width: 100%;
}



/* Mobile View */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 40vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 0rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 0rem;
    }

    .main__content h2 {
        font-size: 0rem;
        text-align: center;
    }

    .main__content p {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 15px;
    }

    .main__content h2 {
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: 3.5rem;
    }



    .main__button {
        padding: 3.5px 8px;
        margin-top: -50%;
    }

    .hint__button a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    }

}

#button_left {
    color: #14141400;
    background-color: #14141400;
    border: none;
    width: 100%;
}

#button_right {
    color: #14141400;
    background-color: #14141400;
    border: none;
    width: 100%;  
}

.arr {
    background: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
    text-align: center;
}

.arr:hover {
    box-shadow: 0px 0px 15px 15px rgba(0, 225, 255, 0.6);
}

.arr div {
    position: absolute;
    height: 14px;
    width: 14px;
    border-top: 4px solid #202020;
    border-left: 4px solid #202020;
    transform: rotate(45deg);
    left: 9.625px;
    top: 12.25px;
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

#right {
    margin-left: 180px;
    margin-top: 0px;
}

#left {
    margin-left: -10px;
    margin-top: -36px;

}


.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 75%;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #40a6b39d;
    color: #fff;
    transition: transform 250ms;
    margin-top: -60%;

}

.button a {
    font-size: 100rem;
}

.button:hover {
    background-color: #00e1ff63;
    transition: transform 250ms;
}

.navbar__links:hover {
    color: #2d9dac;
    transition: all 0.3s ease;
}

.navbar__button {
    font-size: 2rem;
    border: none;
    border-radius: 4px;
    color: #14141400;
    outline: none;

}

.main__button a {
    position: relative;
    z-index: 2;
    color: #fff;;
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.3rem;
    padding-bottom: 20%;
}

#button_reset {
    margin-top: 5%;
    margin-left: 5%;
    color: #14141400;
    background-color: #14141400;
    border: none;
    width: 100%;  
}

.answer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px ;
    height: 60%;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #3d7e86;
    color: #fff;
    transition: transform 250ms;
    /* margin-bottom: -100px; */
    margin-left: 45px;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

.answer__button a {
    font-family: 'Roboto', sans-serif;
}


#button_answer {
    margin-top: 10%;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    font: bolder;
    font-weight: 500;
    margin-left: 20%;
    text-align: center;
}

#button_answer:hover{
    background: #2d9dac;
    transition: all 0.3s ease;
    transform: translateY(-1px);

}

.next_button {
    display: none;
}

#date {
    padding-top: 5%;
    display: none;
    position: relative;
}

#button_reset {
    display: none;
}


.disabled {
    background: rgba(255, 255, 255, 0.171);
}

.solve__button {
    margin-left: 31%;
    position: relative;
    background-image: #141414;
    border: none;
    border-radius: 4px;
    color: #141414;
    cursor: pointer;
    transition: all 0.35s;
    outline: none;
    background: #40a6b39d;
    color: #fff;;
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.7rem;
    display: none;
}



.solve__button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    border-radius: 4px;
    
}

.solve__button:hover {
    transition: all 0.3s ease;
    background-color: #00e1ff63;
    transition: transform 250ms;
}

.solve__button:hover:after {
    width: 100%;
}

#button_solve {
    margin-top: -15%;
    height: 50%;
    width: 35%;
}

.solve__button a {
    font-size: 25px;
}

.back div {
    position: absolute;
    height: 11.2px;
    width: 11.2px;
    border-top: 3.2px solid #202020;
    border-left: 3.2px solid #202020;
    transform: rotate(45deg);
    left: 7.7px;
    top: 9.8px;
}

#button_back {
    position: absolute;
    padding-top: 7.5%;
    padding-left: 5%;
    display: none;
    color: #3eb09b;
    background-color: #14141400;
    border: none;
    width: 100%;
}


.back {
    background: #3eb09b;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
    text-align: center;
}

.back:hover {
    box-shadow: 0px 0px 8px 8px rgba(0, 225, 255, 0.4);
}

.left_back {
    transform: rotate(-90deg);
}


.hint__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 15px ;
    height: 60%;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #3d7e86;
    color: #fff;
    transition: transform 250ms;
    /* margin-bottom: -100px; */
    margin-left: 45px;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

.hint__button a {
    font-family: 'Roboto', sans-serif;
 }


#button_hint {
    margin-top: 10%;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font: bolder;
    font-weight: 500;
    margin-left: 20%;
    text-align: center;
}

#button_hint:hover{
    background: #2d9dac;
    transition: all 0.3s ease;
    transform: translateY(-1px);

}
