body {
    width: 250px;
    height: 100px;
    text-align: center;
    font-family: 'karnakcondensed';
    background-color: #121213;
    color: #538d4e;
    padding: 1rem;
}
h1 {
    font-family: 'karnakcondensed';
    margin: 0px;
}
#answer {
    font-size: 6em;
}
@font-face {
    font-family: 'karnakcondensed';
    src: url('https://www.nytimes.com/games/wordle/fonts/karnakcondensed-normal-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}